src/main/resources/message.xsd

<xsd:schema xmlns="http://www.w3.org/2000/10/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="us.world_corp.my_soap_forum">
    <xsd:element name="message">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="value" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resultcode">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="value" type="xsd:int"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
